<ul id="toc" class="list-group">
    <li class="list-group-item">
        <a href="/faq#whatisqtrpi">What is QtRpi?</a>
    </li>
    <li class="list-group-item">
        <a href="/faq#licence">Is it free to use?</a>
    </li>
    <li class="list-group-item">
        <a href="/faq#supportedqt">What versions of Qt is available?</a>
    </li>
    <li class="list-group-item">
        <a href="/faq#qtmodules">Which Qt modules are bundled in the package?</a>
    </li>
    <li class="list-group-item">
        <a href="/faq#creation">What was used to create QtRpi?</a>
    </li>
    <li class="list-group-item">
        <a href="/faq#supportedrpi">What version of Raspberry Pi is supported?</a>
    </li>
    <li class="list-group-item">
        <a href="/faq#howtoinstall">How to install QtRpi?</a>
    </li>
    <li class="list-group-item">
        <a href="/faq#howtouse">How to use QtRpi?</a>
    </li>
    <li class="list-group-item">
        <a href="/faq#contact">How to contact us?</a>
    </li>
    <li class="list-group-item">
        <a href="/faq#about">Who are you?</a>
    </li>
</ul>

<h2 class="answer"><a name="whatisqtrpi">What is QtRpi?</a></h2>
<p>
QtRpi is a complete bundle to simplify the cross-compilation of Qt applications on the Raspberry Pi. This bundle is composed of:
</p>
<ul>
    <li>A preconfigured Qt version for your computer</li>
    <li>Precompiled Qt binaries for your Raspberry Pi</li>
    <li>The Raspberry Pi toolchain</li>
    <li>A minimal raspbian sysroot</li>
</ul>

<h2 class="answer"><a name="licence">Is it free to use?</a></h2>
<p>
QtRpi is a completely free and open-source. It relies on the <a href="https://github.com/neuronalmotion/qtrpi/blob/develop/LICENCE.md">MIT licence</a>. In short, you can do whatever you want.
</p>
<p>
Everything is hosted on GitHub:
</p>
<ul>
    <li><a href="https://github.com/neuronalmotion/qtrpi">QtRpi repository</a></li>
    <li><a href="https://github.com/neuronalmotion/qtrpi-webapp">QtRpi webapp repository</a> (Yes, the source of this website is also available!)</li>
</ul>

<h2 class="answer"><a name="supportedqt">What versions of Qt is available?</a></h2>
<p>
Supported versions of Qt:
</p>
<ul>
    <li>Qt 5.7.0</li>
    <li>Qt 5.6.2 (LTS)</li>
</ul>

<h2 class="answer"><a name="qtmodules">Which Qt modules are bundled in the package?</a></h2>
<p>
Today, the following modules are cross-compiled in the bundle:
</p>
<ul>
    <li><b>qtbase</b> ((bin/qmake, bin/rcc, bin/uic, bin/moc, libQt5Core, libQt5Gui, ...)</li>
    <li><b>qt3d</b> (libQt53DCore, libQt53DInput, libQt53DQuick, ...)</li>
    <li><b>qtdeclarative</b> (bin/qml, bin/qmlscene, libQt5Qml, libQt5Quick, libQt5QuickParticles, libQt5QuickWidgets, ...)</li>
    <li><b>qtquickcontrols</b> (qml/QtQuick)</li>
    <li><b>qtquickcontrols2</b> (libQt5LabsControls, qml/Qt/labs)</li>
</ul>

<h2 class="answer"><a name="creation">What was used to create QtRpi?</a></h2>
<p>
QtRpi relies on multiple components:
</p>
<ul>
    <li><a href="https://www.raspberrypi.org/downloads/raspbian/">Raspbian</a> is the Raspberry Pi OS</li>
    <li><a href="https://www.qt.io/">Qt</a> provides the LGPL/GPL C++ framework</li>
    <li><a href="https://github.com/raspberrypi/tools">Raspberry Pi toolchain</a> provides the cross-compilation tools</li>
    <li><a href="https://github.com/riscv/riscv-poky/blob/master/scripts/sysroot-relativelinks.py">sysroot-relativelinks.py</a> to fix libraries link in the sysroot</li>
</ul>

<h2 class="answer"><a name="supportedrpi">What version of Raspberry Pi is supported?</a></h2>
<p>
Right now, we support the following versions of Raspberry Pi:
</p>
<ul>
    <li>Raspberry Pi 1</li>
    <li>Raspberry Pi 2</li>
    <li>Raspberry Pi 3</li>
</ul>

<h2 class="answer"><a name="howtoinstall">How to install QtRpi?</a></h2>
<p>
QtRpi requires a couple of tasks to be properly installed on both your computer and your Raspberry Pi. To make the installation easier, we created a script to automatically perform all the steps for you. This script, <b>init-qtrpi-minimal.sh</b>, can be found on our <a href="https://github.com/neuronalmotion/qtrpi">QtRpi</a> repository on GitHub.
</p>

<div class="step">
    <h4>
        1. Clone the repository on your computer
    </h4>

    <pre>git clone https://github.com/neuronalmotion/qtrpi.git</pre>
    <p>
    or <a href="https://github.com/neuronalmotion/qtrpi/archive/develop.zip">download the ZIP file</a>.
    </p>
</div>

<div class="step">
    <h4>
        2. Configure your environment variables
    </h4>

    <p>
    The script supports multiple versions of Qt and Raspberry Pi. If you want to install a specific version of QtRpi, set the following environment variables:
    </p>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Supported values</th>
                <th>Default value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>QTRPI_QT_VERSION</td>
                <td>The version of the Qt framework</td>
                <td>
                    5.6.2<br/>
                    5.7.0
                </td>
                <td>5.7.0</td>
            </tr>
            <tr>
                <td>QTRPI_TARGET_DEVICE</td>
                <td>The version of the Raspberry Pi board</td>
                <td>
                    linux-rasp-pi-g++ <br/>
                    linux-rasp-pi2-g++ <br/>
                    linux-rpi3-g++
                </td>
                <td>linux-rasp-pi2-g++</td>
            </tr>
            <tr>
                <td>QTRPI_TARGET_HOST</td>
                <td>The Raspberry Pi SSH host name (usually the IP of your board). Example: pi@192.168.1.5</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="step">
    <h4>
        3. Run the script
    </h4>
    <p>
    Once the environment variables are set, execute the following command (from your cloned repository of qtrpi):
    </p>
    <pre>./init-qtrpi-minimal.sh</pre>
</div>

<div class="step">
    <h4>
        4. Check your installation
    </h4>
    <p>
    At the end of the execution of the script, you should have a new directory <b>/opt/qtrpi</b> with:
    </p>
    <ul>
        <li><b>bin</b>: that contains <i>qmake-rpi</i>, a symbolic link to the pre-configured qmake</li>
        <li><b>raspbian</b>: the sysroot</li>
        <li><b>raspi</b>: the toolchain, the preconfigured Qt, the precompiled Qt for Raspberry Pi</li>
    </ul>
</div>

<div class="step">
    <h4>
        5. Deploy on your Raspberry Pi
    </h4>
    <p>
    Once your Raspberry Pi is reachable within your network, execute:
    <pre>./deploy-qtrpi.sh --prepare-rpi</pre>

    <p>
    This script will connect to your Raspbery Pi and install / update everything that is needed to run Qt applications.
    </p>
    <p>
    At the end of the script, your Raspberry Pi should contain the directory <b>/local/usr/qt5pi</b> with the the precompiled Qt for Raspberry Pi.
    </p>
</div>

<div class="step">
    <h4>
        6. Export the QtRpi bin path (optional)
    </h4>
    <p>
    Add the directory <b>/opt/qtrpi/bin</b> to your PATH.
    </p>
    <pre>
export PATH=/opt/qtrpi/bin:$PATH # Add this line to your .bashrc
source ~/.bashrc</pre>
</div>

<h2 class="answer"><a name="howtouse">How to use QtRpi?</a></h2>
<p>
Now that QtRpi is installed on your computer and deployed to your Raspberry Pi, you can cross-compile Qt applications. You can do it easily on your project with <b>qmake-rpi</b>.
</p>
<pre>
cd myproject
qmake-rpi
make
</pre>
<p>
The generated binary file is ready to be copied and executed on your Raspberry Pi!
</p>

<h2 class="answer"><a name="contact">How to contact us?</a></h2>
<p>
    You can fill a contact form from our <a href="https://www.neuronalmotion.com/contact">official website</a> or send us an email at <b>contact |at] neuronalmotion [dot] com</b>.
</p>

<h2 class="answer"><a name="about">Who are you?</a></h2>
<p>
    Our company, <a href="http://www.neuronalmotion.com">NeuronalMotion</a>, works heavily with Qt and in some of our projects, we needed to deploy Qt applications to a Raspberry Pi. Because we are developers and like to be lazy, we decided to store the precompiled Qt dependencies on a website, rather than recompiling them each time.
</p>
